<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>About</title>

  <link href="http://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap" rel="stylesheet">
  <link href="http://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap" rel="stylesheet">

  <!-- Template CSS -->
  <link rel="stylesheet" href="static/css/style-starter.css">
</head>

<body>
<!-- Header -->
<header class="w3l-header">
	<!--/nav-->
	<nav class="navbar navbar-expand-lg navbar-light fill px-lg-0 py-0 px-3">
		<div class="container">
			<a class="navbar-brand" href="index.html">
				<span class="fa fa-globe"></span> Ms.Four <span class="logo">Robot Dection Service</span></a>
			<!-- if logo is image enable this
						<a class="navbar-brand" href="#index.html">
							<img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
						</a> -->
			<button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
				data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<!-- <span class="navbar-toggler-icon"></span> -->
				<span class="fa icon-expand fa-bars"></span>
				<span class="fa icon-close fa-times"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item @@home__active">
						<a class="nav-link" href="index.html">Home</a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" href="about.html">About US</a>
					</li>
					<li class="nav-item @@contact__active">
						<a class="nav-link" href="contact.html">Detect Now</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<!--//nav-->
</header>
<!-- //Header -->
<section class="w3l-aboutblock py-5" id="about">
    <div class="midd-w3">
        <div class="container py-lg-5 py-md-3">
            <div class="row">
                <div class="col-lg-6 left-wthree-img text-righ">
                    <div class="position-relative">
                        <img src="static/images/AboutUS.png" alt="" class="img-fluid">
                        <!-- dialog itself, mfp-hide class is required to make dialog hidden -->
                    </div>
                </div>
                <div class="col-lg-6 mt-lg-0 mt-5 about-right-faq align-self">
                    <span class="text mb-2">About us</span>
                    <h3 class="title-big">Awesome Award-winning data work studio</h3>
                    <p class="mt-4">One Woman can make a difference,
                    </p>
                    <p class="mt-4">But together we can rock the world.
                    </p>
                    <ol class="w3l-right mt-4">
                        <li>Latest Bootstrap framework</li>
                        <li>Highly Responsive</li>
                        <li>Easy to Customize</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="w3-about-2" id="features">
    <div class="w3-services-ab py-5">
        <div class="container py-lg-5 py-md-4">
            <span class="text text-center mb-2">Iterative process</span>
            <h3 class="title-big text-center mb-5">How we work</h3>
            <div class="w3-services-grids">
                <div class="w3-services-right-grid">
                    <div class="fea-gd-vv row">
                        <div class="col-lg-6">
                            <div class="float-lt feature-gd">
                                <div class="icon"> <span class="number number1">01.</span></div>
                                <div class="icon-info">
                                    <h5>Exploratory data analysis </h5>
                                    <p> Frame the problem
                                    </p>
                                    <p> Collect enough raw data
                                    </p>
                                    <p> Data exploration
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 mt-lg-0 mt-4">
                            <div class="float-mid feature-gd">
                                <div class="icon"> <span class="number number2">02.</span></div>
                                <div class="icon-info">
                                    <h5>Feature Enigineering</h5>
                                    <p> Feature Creation,
                                     </p>
                                    <p> Feature Transformations
                                    </p>
                                    <p> Feature Extraction
                                    </p>
                                    <p> Feature Selection
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 mt-4 pt-md-2">
                            <div class="float-rt feature-gd">
                                <div class="icon"> <span class="number number3">03.</span></div>
                                <div class="icon-info">
                                    <h5>Machine Modelling</h5>
                                    <p> Train the models
                                    </p>
                                    <p> Tune hyperparameters
                                    </p>
                                    <p> Test the models and evaluate the performance
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 mt-4 pt-md-2">
                            <div class="float-lt feature-gd">
                                <div class="icon"> <span class="number number4">04.</span></div>
                                <div class="icon-info">
                                    <h5>Business Insights</h5>
                                    <p> Backgroud combination
                                    </p>
                                    <p> Important factors analysis
                                    </p>
                                    <p> Future advice.
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- services page block 3 -->
<section class="w3l-mobile-content-6 py-5">
    <div class="mobile-info py-lg-5 py-md-4">
        <!-- /mobile-info-->
        <div class="container">
            <span class="text text-center mb-2">Why Choose Us</span>
            <h3 class="title-big text-center mb-5">Industry innovators since 2022 </h3>
            <div class="row mobile-info-inn">
                <div class="col-lg-6 image-left">
                    <img src="static/images/g3.jpg" class="radius-image img-fluid" alt="">
                </div>
                <div class="col-lg-6 mobile-right mt-lg-0 mt-5">
                    <div class="row mobile-right-grids mb-md-5 mb-4">
                        <div class="col-lg-2 col-md-1 col-2 mobile-right-icon">
                            <div class="mobile-icon text-lg-right mt-2">
                                <span class="fa fa-files-o"></span>
                            </div>
                        </div>
                        <div class="col-lg-10 col-md-11 col-10 mobile-right-info">
                            <h6><a href="#url">Satisfied Service and Attitude </a></h6>
                        </div>
                    </div>
                    <div class="row mobile-right-grids mb-md-5 mb-4">
                        <div class="col-lg-2 col-md-1 col-2 mobile-right-icon">
                            <div class="mobile-icon text-lg-right mt-1">
                                <span class="fa fa-search"></span>
                            </div>
                        </div>
                        <div class="col-lg-10 col-md-11 col-10 mobile-right-info">
                            <h6><a href="#url">Strong Teamworkers</a></h6>
                        </div>
                    </div>
                    <div class="row mobile-right-grids">
                        <div class="col-lg-2 col-md-1 col-2 mobile-right-icon">
                            <div class="mobile-icon text-lg-right">
                                <span class="fa fa-video-camera"></span>
                            </div>
                        </div>
                        <div class="col-lg-10 col-md-11 col-10 mobile-right-info">
                            <h6><a href="#url">Social media marketing </a></h6>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- //mobile-info-->
    </div>
</section>
<!-- services page block 3 -->
<!--//testimonials-->
<section class="w3l-team" id="team">
	<div class="teams1 py-5 mb-3">
		<div class="container py-lg-3 pb-lg-5 pb-4">
			<div class="teams1-content">
                <span class="text text-center mb-2">Lovely & Warm Team</span>
                <h3 class="title-big text-center mb-5">Meet Our Team</h3>
					<div class="owl-carousel owl-theme text-center">
						<div class="item">
							<div class="d-grid team-info">
								<div class="column position-relative">
									<a href="#url"><img src="static/images/Team1.png" alt="" class="img-fluid rounded team-image"/></a>
								</div>
								<div class="column">
									<h3 class="name-pos"><a href="#url">Yina Wu</a></h3>
									<p>Principal Data Scientist</p>
									<div class="social">
										<a href="#facebook" class="facebook"><span class="fa fa-facebook" aria-hidden="true"></span></a>
										<a href="#twitter" class="twitter"><span class="fa fa-twitter" aria-hidden="true"></span></a>
										<a href="#linkedin" class="linkedin"><span class="fa fa-linkedin" aria-hidden="true"></span></a>
									</div>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="d-grid team-info">
								<div class="column position-relative">
									<a href="#url"><img src="static/images/Team2.png" alt="" class="img-fluid rounded team-image" /></a>
								</div>
								<div class="column">
									<h3 class="name-pos"><a href="#url">Qina Yan</a></h3>
									<p>Principal Data Scientist</p>
									<div class="social">
										<a href="#facebook" class="facebook"><span class="fa fa-facebook" aria-hidden="true"></span></a>
										<a href="#twitter" class="twitter"><span class="fa fa-twitter" aria-hidden="true"></span></a>
										<a href="#linkedin" class="linkedin"><span class="fa fa-linkedin" aria-hidden="true"></span></a>
									</div>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="d-grid team-info">
								<div class="column position-relative">
									<a href="#url"><img src="static/images/Team3.png" alt="" class="img-fluid rounded team-image" /></a>
								</div>
								<div class="column">
									<h3 class="name-pos"><a href="#url">Jena Wang</a></h3>
									<p>Principal Data Scientist</p>
									<div class="social">
										<a href="#facebook" class="facebook"><span class="fa fa-facebook" aria-hidden="true"></span></a>
										<a href="#twitter" class="twitter"><span class="fa fa-twitter" aria-hidden="true"></span></a>
										<a href="#linkedin" class="linkedin"><span class="fa fa-linkedin" aria-hidden="true"></span></a>
									</div>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="d-grid team-info">
								<div class="column position-relative">
									<a href="#url"><img src="static/images/Team4.png" alt="" class="img-fluid rounded team-image" /></a>
								</div>
								<div class="column">
									<h3 class="name-pos"><a href="#url">Xiao Yu</a></h3>
									<p>Principal Data Scientist</p>
									<div class="social">
										<a href="#facebook" class="facebook"><span class="fa fa-facebook" aria-hidden="true"></span></a>
										<a href="#twitter" class="twitter"><span class="fa fa-twitter" aria-hidden="true"></span></a>
										<a href="#linkedin" class="linkedin"><span class="fa fa-linkedin" aria-hidden="true"></span></a>
									</div>
								</div>
							</div>
						</div>
					</div>
			</div>
		</div>
	</div>
</section>

<!-- copyright -->
<section class="w3l-footer-29-main w3l-copyright">
  <div class="container">
    <div class="row bottom-copies">
      <p class="col-lg-8 copy-footer-29">Copyright &copy; 2022<a target="_blank"></a></p>

      <div class="col-lg-4 main-social-footer-29">
        <a href="#facebook" class="facebook"><span class="fa fa-facebook"></span></a>
        <a href="#twitter" class="twitter"><span class="fa fa-twitter"></span></a>
        <a href="#instagram" class="instagram"><span class="fa fa-instagram"></span></a>
        <a href="#linkedin" class="linkedin"><span class="fa fa-linkedin"></span></a>
      </div>

    </div>
  </div>

  <!-- move top -->
  <button onclick="topFunction()" id="movetop" title="Go to top">
    &#10548;
  </button>
  <script>
    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function () {
      scrollFunction()
    };

    function scrollFunction() {
      if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        document.getElementById("movetop").style.display = "block";
      } else {
        document.getElementById("movetop").style.display = "none";
      }
    }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
      document.body.scrollTop = 0;
      document.documentElement.scrollTop = 0;
    }
  </script>
  <!-- /move top -->
</section>
<!-- //copyright -->


<!-- Template JavaScript -->

<script src="static/js/jquery-3.3.1.min.js"></script>

<!-- script for customers -->
<script src="static/js/owl.carousel.js"></script>
<script>
  $(document).ready(function () {
    $('.owl-three').owlCarousel({
      loop: true,
      margin: 0,
      nav: false,
      responsiveClass: true,
      autoplay: true,
      autoplayTimeout: 5000,
      autoplaySpeed: 1000,
      autoplayHoverPause: false,
      responsive: {
        0: {
          items: 3,
          nav: false
        },
        480: {
          items: 3,
          nav: false
        },
        667: {
          items: 4,
          nav: false
        },
        800: {
          items: 5,
          nav: false
        },
        1280: {
          items: 6,
          nav: false
        }
      }
    })
  })
</script>
<!-- //script for customers -->

<!-- for tesimonials carousel slider -->
<script>
	$(document).ready(function () {
		$("#owl-demo1").owlCarousel({
			loop: true,
			margin:20,
			responsiveClass: true,
			responsive: {
				0: {
					items:1,
					nav: true
				},
				736: {
					items: 2,
					nav: false
				},
				1000: {
					items: 2,
					nav: true,
					loop: false
				}
			}
		})
	})
</script>
<!-- //script -->

<!-- script for teams -->
<script>
  $(document).ready(function () {
    $('.owl-carousel').owlCarousel({
      loop: true,
      margin: 0,
      responsiveClass: true,
      responsive: {
        0: {
          items: 1,
          nav: true
        },
        415: {
          items: 2,
          nav: true,
          margin: 20
        },
        667: {
          items: 3,
          nav: true,
          margin: 20
        },
        1000: {
          items: 4,
          nav: true,
          loop: true,
          margin: 25
        }
      }
    })
  })
</script>
<!-- //script for teams-->

<!-- magnific popup -->
<script src="static/js/jquery.magnific-popup.min.js"></script>
<script>
  $(document).ready(function () {
    $('.popup-with-zoom-anim').magnificPopup({
      type: 'inline',

      fixedContentPos: false,
      fixedBgPos: true,

      overflowY: 'auto',

      closeBtnInside: true,
      preloader: false,

      midClick: true,
      removalDelay: 300,
      mainClass: 'my-mfp-zoom-in'
    });

    $('.popup-with-move-anim').magnificPopup({
      type: 'inline',

      fixedContentPos: false,
      fixedBgPos: true,

      overflowY: 'auto',

      closeBtnInside: true,
      preloader: false,

      midClick: true,
      removalDelay: 300,
      mainClass: 'my-mfp-slide-bottom'
    });
  });
</script>
<!-- magnific popup -->

<!-- stats number counter-->
<script src="static/js/jquery.waypoints.min.js"></script>
<script src="static/js/jquery.countup.js"></script>
<script>
  $('.counter').countUp();
</script>
<!-- //stats number counter -->

<!-- disable body scroll which navbar is in active -->
<script>
  $(function () {
    $('.navbar-toggler').click(function () {
      $('body').toggleClass('noscroll');
    })
  });
</script>
<!-- disable body scroll which navbar is in active -->

<script src="static/js/bootstrap.min.js"></script>

</body>

</html>
